.header{
    height:100px;
    background-size: cover;
    background-image:url(
}
.main{
    padding: 750px;
    background-color:gainsboro;
}
.footer{
    padding: 100px;
    background-color: aliceblue;
}
