.header{
    height:750px;
      background-image: url(minecraft.png);
      background-size: cover;
  }
  .main{
      padding: 200px;
      background-color:gainsboro;
  }
  .footer{
      padding: 100px;
      background-color: aliceblue;
  }