.header{
    height:100px;
  
    background-size: cover;
}
.main{
    padding:1000px;
   background.image:url(IMG_1435.JPG);
   background.image:url(IMG_2108.JPG);
 background.image:url(hukurou.heic);
 background.image:url(bobusutannpu.jpg);
 background.image:url(imokennpi.JPG);
    
}
.footer{
    padding: 100px;
    background-color: aliceblue;
}
