body{
    margin: 0;
    font-family: "Hiragino Kaku Gothic ProN";
}
a{
    text-decoration: none;
}
.container {
    width:1170px;
    padding:0 15px;
    margin: auto;
}
.top-wrapper{
    padding: 180px 0 120px 0;
    background-image:url(haikei1.jpg);
    color:whitesmoke;
    background-size: cover;
    text-align: center;
}
.lesson-wrapper{
    height:500px;
    padding-bottom:30px;
    color:#5f5d60;
    text-align:center;
}
.heading{
    padding-top:60px;
    padding-bottom:30px;
    color: #5f5d60;
}
.heading h2 {
    font-weight: normal;
}
.lesson{
    float: left;
    width:25%;
}
.lesson-icon{
    position:absolute ;
}
.lesson-icon p{
    position: absolute;
    top: 30px;
    width:30px;
    color:black;
}
.txt-contents{
    width:80px;
    display: inline-block;
    margin-top:40px;
    font-size:12px;
    color: #b3aeb5;
    position:relative;
}
.footer　h2{
    color:black;
    
}

.footer{
    padding-top: 30px;
    background-color: lightslategray;
}
